let mapleader=" "

set easymotion
set relativenumber
set clipboard+=unnamed
set scrolloff=10
set showmode
set showcmd
set ignorecase
set visualbell
set smartcase
set incsearch
set hlsearch
set nerdtree


inoremap jk <Esc>


" Open NERDTree (use q to exit)
map <leader>e :NERDTreeToggle<CR>
" Comment lines
map <leader>cl <action>(CommentByLineComment)
map <leader>rn <Action>(RenameElement)
map <leader>se <action>(SearchEverywhere)
map <leader>q <action>(CloseContent)


" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gb <Action>(Back)
nmap <leader>gf <Action>(Forward)

" Tabs
map <A-w> <Action>(CloseContent)
map <A-l> <Action>(NextTab)
map <A-h> <Action>(PreviousTab)
imap <A-l> <Esc><Action>(NextTab)i
imap <A-h> <Esc><Action>(PreviousTab)i
map <A-w> <Action>(CloseContent)
imap <A-w> <Esc><Action>(CloseContent)i
" Code navigation
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap ]e <Action>(GotoNextError)

" Tabbing
nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

" Hover
map <leader>hd <action>(QuickJavaDoc)
map <leader>he <action>(ShowErrorDescription)

" Search
nnoremap <esc> :noh<return><esc>
