let mapleader=" "
set easymotion
set relativenumber
set scrolloff=10
set showmode
set showcmd
set ignorecase
set visualbell
set smartcase
set incsearch
set hlsearch
set nerdtree

" Performance settings
set clipboard+=ideaput " Use IDE's clipboard instead of system's clipboard
set timeout           " Enable timeout for mappings
set timeoutlen=300    " Reduce timeout length for mappings
set ttimeout          " Enable timeout for key codes
set ttimeoutlen=10    " Reduce timeout length for key codes

" Basic mappings
inoremap jk <Esc>
" Clear search highlighting with ESC
nnoremap <esc> :noh<return><esc>

" System clipboard integration (faster implementation)
nmap <leader>y "+y
nmap <leader>Y "+Y
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>y "+y
vmap <leader>Y "+Y
vmap <leader>p "+p
vmap <leader>P "+P

" Document formatting
map <leader>ff <Action>(ReformatCode)
map <leader>fi <Action>(OptimizeImports)
map <leader>fc <Action>(ShowReformatFileDialog)

" File explorer
map <leader>e :NERDTreeToggle<CR>

" Code actions
map <leader>cl <action>(CommentByLineComment)
map <leader>rn <Action>(RenameElement)
map <leader>se <action>(SearchEverywhere)
map <leader>q <action>(CloseContent)

" Code navigation
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gq <Action>(GoToQuickDImplementations)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gb <Action>(Back)
nmap <leader>gf <Action>(Forward)

" Tabs navigation
map <A-w> <Action>(CloseContent)
map <A-l> <Action>(NextTab)
map <A-h> <Action>(PreviousTab)
imap <A-l> <Esc><Action>(NextTab)i
imap <A-h> <Esc><Action>(PreviousTab)i
map <A-w> <Action>(CloseContent)
imap <A-w> <Esc><Action>(CloseContent)i

" Method and error navigation
nmap <leader>nm <Action>(MethodDown)
nmap <leader>pm <Action>(MethodUp)
nmap <leader>ne <Action>(GotoNextError)
nmap <leader>pe <Action>(GotoPreviousError)

" Indentation
nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

" Documentation and errors
map <leader>hd <action>(QuickJavaDoc)
map <leader>he <action>(ShowErrorDescription)
